absl-py
accelerate
aiobotocore
aiohappyeyeballs
aiohttp
aioitertools
aiosignal
ale-py
altair
annotated-types
anthropic
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
automated-interpretability
autorom
autorom-accept-rom-license
babe
babel
beartype
beautifulsoup4
better-abc
bidict
bleach
blinker
blobfile
boostedblob
botocore
bzip2
ca-certificates
cachetools
certifi
cffi
cfgv
charset-normalizer
circuitsvis
click
cloudpickle
comm
config2py
contourpy
cycler
cython
dataclasses-json
datasets
debugpy
decorator
defusedxml
diffusers
dill
distlib
distro
docker-pycreds
docstring-parser
dol
eindex-callum
einops
etils
executing
fancy-einsum
farama-notifications
fasteners
fastjsonschema
filelock
fonttools
fqdn
frozendict
frozenlist
fsspec
ftfy
gdown
gitdb
gitpython
glfw
gprof2dot
graze
grpclib
gymnasium
h11
h2
hdbscan
hpack
httpcore
httpx
huggingface-hub
hyperframe
i2
identify
idna
ijson
imageio
imageio-ffmpeg
importlib-metadata
importlib-resources
iniconfig
inspect-ai
instructor
ipykernel
ipython
ipython-genutils
ipython_pygments_lexers
ipywidgets
isoduration
jaxtyping
jedi
jinja2
jiter
jmespath
joblib
json5
jsonlines
jsonpatch
jsonpath-ng
jsonpointer
jsonref
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter-server
jupyter-server-terminals
jupyter_client
jupyter_core
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
kiwisolver
libcxx
libffi
libsodium
linkify-it-py
llvmlite
lxml
lz4
markdown-it-py
markupsafe
marshmallow
matplotlib
matplotlib-inline
mdit-py-plugins
mdurl
mediapy
mistune
mmh3
modal
moviepy
mpmath
msgspec
mujoco
mujoco-py
multidict
multiprocess
mypy-extensions
narwhals
nbclient
nbconvert
nbformat
ncurses
neel-plotly
nest-asyncio
networkx
nltk
nnsight
nodeenv
notebook
notebook-shim
numba
numpy
numpy-stl
openai
opencv-python
openssl
orjson
overrides
packaging
pandas
pandocfilters
parso
patsy
pexpect
pillow
pip
platformdirs
plotly
plotly-express
pluggy
ply
portalocker
pre-commit
proglog
prometheus-client
prompt-toolkit
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure-eval
pure_eval
py2store
pyarrow
pycparser
pycryptodomex
pydantic
pydantic-core
pydeck
pygame
pygments
pynndescent
pyopengl
pyparsing
pysocks
pytest
pytest-profiling
python
python-dateutil
python-dotenv
python-engineio
python-json-logger
python-socketio
python-utils
pytz
pyyaml
pyzmq
readline
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
s3fs
sae-lens
sae-vis
safetensors
scikit-learn
scipy
semver
send2trash
sentence-transformers
sentencepiece
sentry-sdk
setproctitle
setuptools
shellingham
shimmy
shortuuid
sigtools
simple-parsing
simple-websocket
six
smmap
sniffio
soupsieve
sqlite
stack-data
stack_data
statsmodels
streamlit
streamlit-antd-components
streamlit-image-select
streamlit-on-hover-tabs
sympy
synchronicity
tabulate
tenacity
terminado
textual
threadpoolctl
tiktoken
tinycss2
tk
tokenizers
toml
torch
torchaudio
torchinfo
torchtext
torchvision
tornado
tqdm
traitlets
transformer-lens
transformers
typeguard
typer
types-certifi
types-python-dateutil
types-toml
typing-extensions
typing-inspect
typing-inspection
typing_extensions
tzdata
uc-micro-py
umap-learn
uri-template
urllib3
uvloop
virtualenv
wadler-lindig
wandb
watchfiles
wcwidth
webcolors
webencodings
websocket-client
wheel
widgetsnbextension
wikipedia
wrapt
wsproto
xxhash
xz
yarl
zeromq
zipp
zlib
zstandard
pydantic>=2.0.0
google-genai>=0.3.0
